
@import '../variables.scss';
.mainTable {
    width: 70%;
    height: 50%;
    border-collapse: collapse;
    background-color: $backgroundWhite;
    font-family: $general-font;
    box-shadow: 0px 21px 50px 19px $shadowColor;
}


.mainSection {
    width: 100%;
    height: 100%;
    @include flexbox($placeContent : space-between );
}

.header {
    height: 15%;
    padding: 10px;
    text-align: start; 
    border-bottom: $borderWidth $general-border-style $darkLight;
    color: $secondaryColor;

    h1{
        font-family: $general-font;
        margin-left: 10px;
    }
}

.mainUsers {
    height: 85%;
    border-right: $borderWidth $general-border-style $darkLight;
    @include flexbox($direction : column , $grow : 1   );
}

.mainHobbies {
    height: 85%;
    @include flexbox($direction : column , $grow : 4   );
}

.form{
    flex: 1 0 0;
   @include flexbox($grow : 1   );
}
.addBtn{
    @include flexbox($grow : 1   , $placeContent: center , $placeItems: center );
    border : none;
    border-left: $borderWidth $general-border-style $darkLight;

}
.userInput{
    padding: 15px;
    @include flexbox($grow : 1   , $placeContent: center , $placeItems: center );
    border : none;
    border-bottom: $borderWidth $general-border-style $darkLight;
    outline: none
}

.usersList {
    flex: 6 0 0;
    overflow: hidden;
    overflow-y: scroll; 
}

.hobbiesList {
    flex: 6 0 0;
    overflow: hidden;
    overflow-y: scroll;
}
.usersUl {
    position: relative;
}


.usersUl li{
    text-align: start;
    padding: 10px;
    border-bottom: $borderWidth $general-border-style $darkLight;
}

.liClicked{
    background-color: $primaryColor;
    color: white;
    font-weight: $weight-semi-bold ;
}


.noHobbies {
    height: 100%;
    @include flexbox($placeContent : center , $placeItems : center);
}

.hobbie {
    padding: 10px;
    border-bottom: $borderWidth $general-border-style $darkLight;
    @include flexbox($placeContent : space-around , $placeItems : center);
}

.item {
    text-align: center;
    flex : 3 1 0px;
    outline: none;
    border : none;
}

.removeBtn{
    flex : 1 1 0px;
    height: 20px;
    width: 10px;
    background-color: $red;
    color: $backgroundWhite;
    font-weight: $weight-bold ;
    border: none;
}

.formInput {
    text-align: center;
    flex : 2 0 0;
    outline: none;
    border : none;
    border-bottom: $borderWidth $general-border-style $darkLight;
  
}

.loader {
    position: relative;
    top: 50px;
    left: 80px;
    border: 3px $general-border-style $backgroundWhite;
    border-radius: 50%;
    border-top: 3px $general-border-style $primaryColor;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }