.mainTable {
  width: 70%;
  height: 50%;
  border-collapse: collapse;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0px 21px 50px 19px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 21px 50px 19px rgba(0, 0, 0, 0.13);
}

.mainSection {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header {
  height: 15%;
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid #e4e4e4;
  color: #343434;
}

.header h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.mainUsers {
  height: 85%;
  border-right: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mainHobbies {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.addBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  border-left: 1px solid #e4e4e4;
}

.userInput {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  outline: none;
}

.usersList {
  -webkit-box-flex: 6;
      -ms-flex: 6 0 0px;
          flex: 6 0 0;
  overflow: hidden;
  overflow-y: scroll;
}

.hobbiesList {
  -webkit-box-flex: 6;
      -ms-flex: 6 0 0px;
          flex: 6 0 0;
  overflow: hidden;
  overflow-y: scroll;
}

.usersUl {
  position: relative;
}

.usersUl li {
  text-align: start;
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.liClicked {
  background-color: #00a8ff;
  color: white;
  font-weight: 600;
}

.noHobbies {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.hobbie {
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: space-around;
  place-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.item {
  text-align: center;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 0px;
          flex: 3 1 0px;
  outline: none;
  border: none;
}

.removeBtn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  height: 20px;
  width: 10px;
  background-color: #842d2d;
  color: #ffffff;
  font-weight: 700;
  border: none;
}

.formInput {
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0px;
          flex: 2 0 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #e4e4e4;
}

.loader {
  position: relative;
  top: 50px;
  left: 80px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top: 3px solid #00a8ff;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=maintable.css.map */