// collor pallete 

$primaryColor: #00a8ff;
$secondaryColor: #343434;
$backgroundColor: rgb(245, 245, 245);
$backgroundWhite: #ffffff;
$darkLight: #e4e4e4;

//Fonts
$general-font: Arial, Helvetica, sans-serif;
